.signin-main{
    margin: 3% auto;
    width: 30%;
    border: 1px solid lightgray;
    padding: 2%;
}
.signin-main input{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid  gray;
}
.signin-main input:focus{
    outline: none;
    border: 2px solid lightgray;
}
.signin-main button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signin-span{
    text-align: center;
    margin-top: 5px;
    align-items: center;
}
.signin-button{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.signin-button:focus{
    outline: none;
    border: 2px solid black;
}