.card-body{
  text-align: left;
}
.card-price{
  font-size: large;
  color: grey;
}
.container{
  padding-top: -50%;
}
.card{
  margin: auto;
}
.container{
  margin-top: 5%;
}
  /* cart page css */
.cart-main-div{
  display: flex;
  flex-wrap: wrap;
}
.add-to-cart{
  margin: 0% 5%;
  margin-top: 3%;
}
.cart-h4{
  text-align: center;
}
.cart-div-main{
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  box-shadow: 5px 4px 10px grey;
}
.cart-product-div{
  display: flex;
  width: 40%;
}
.product-image{
  width: 100px;
  height: 100px;
  padding: 5px;
}
.cart-title{
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.cart-price{
  margin-right: 5%;
}
.cart-quntity{
  margin-right: 5%; 
}
.cart-value{
  font-size: x-large;
}
.quantity-btn{
  width: 35px;
  margin: 5px;
}
.far:active {
  color: red;
  cursor: pointer;
}
.read-or-hide{
  cursor: pointer; 
  color: blue;
}
.active{
  color: black;
}